
body {
    font-family: 'Arial', sans-serif;
    background-color: blueviolet;
    color: green;
   
}

.header {
    text-align: center;
    background-color: yellow;
    padding: 15px;
}

.nav-bar {
    background-color:brown;
    
    padding: 10px;
}


